@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(0,0,0);
    color:#FEFEFE;
}


a{
    color:#FF0042;
    font-weight: bolder;
    text-decoration: none;
}

h1{font-size:16px;font-weight: bolder;}


.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

  /* Search Box styles */
.search-box{
    margin-top: 20px;
    padding: 40px;
    display:flex;
    justify-content: center;
    border-radius: 20px;
}

.search-box select{
    padding: 10px;
    border-radius: 20px;
}

.search-box input{
    padding: 10px;
    border-radius: 20px;
}

.search-box button{
    padding: 10px;
    background-color:red;
    color:#ffffff;
    border-radius: 20px;
}

.search-box button:hover{
    background-color: #000000;
    color: red;

}


/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: #111314;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
.center .btns button:{
    color: #fff;
    background: none;
  }
  .btns button:{
    background: white;
    color: black;
  }
  .center .btns button:{
    background: white;
    color: black;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    text-decoration: none;
  }

nav{
    position:top;
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #eb2f06;
  }
  .getstartedBTN{
    background-color: #eb2f06;
    border-radius: 28px;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 26px;
    margin-top: 10px;
    display: inline-block;
    font-size: 17;
    float: right;
    
}
footer{
    margin-bottom: auto; 
      width: 100%
        
      position: absolute;
      bottom: 0;
      left: 0;
      background: #111;
    }
    footer .content{
      max-width: 1350px;
      margin: auto;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    footer .content p,a{
      color: #fff;
    }
    footer .content .box{
      width: 33%;
      transition: all 0.4s ease;
    }
    footer .content .topic{
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 16px;
    
    }
    footer .content p{
      text-align: ;
    }
    footer .content .lower .topic{
      margin: 24px 0 5px 0;
    }
    footer .content .lower i{
      padding-right: 16px;
    }
    footer .content .middle{
      padding-left: 80px;
    }
    footer .content .middle a{
      line-height: 32px;
    }
    footer .content .right input[type="text"]{
      height: 45px;
      width: 100%;
      outline: none;
      color: #d9d9d9;
      background: #000;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 17px;
      border: 2px solid #222222;
    }
    footer .content .right input[type="submit"]{
      height: 42px;
      width: 100%;
      font-size: 16px;
      color: #d9d9d9;
      background: #eb2f06;
      outline: none;
      border-radius: 5px;
      letter-spacing: 1px;
      cursor: pointer;
      margin-top: 12px;
      border: 2px solid #eb2f06;
      transition: all 0.3s ease-in-out;
    }
    .content .right input[type="submit"]:hover{
      background: none;
      color:  #eb2f06;
    }
    footer .content .media-icons a{
      font-size: 12px;
      height: 45px;
      width: 45px;
      display: inline-block;
      text-align: center;
      line-height: 43px;
      border-radius: 5px;
      border: 2px solid #222222;
      margin: 30px 5px 0 0;
      transition: all 0.3s ease;
    }
    .content .media-icons a:hover{
      border-color: #eb2f06;
    }
    footer .bottom{
      width: 100%;
      text-align: right;
      color: #d9d9d9;
      padding: 0 40px 5px 0;
    }
    footer .bottom a{
      color: #eb2f06;
    }
    footer a{
      transition: all 0.3s ease;
    }
    footer a:hover{
      color: #eb2f06;
    }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu .logo {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
  }
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: #fff;
    color: black;
  }